h1 {
    font-size: 50px;
    color: rgb(35, 35, 54);
    }  
  h2 { 
    color: green;
  } 
  body {
    background-image: url="download.png"
    background-repeat no-repeat
  }
  .list-style{
    background-color: lightgreen;
  }
  #social-media{
    color: green;
  }
  #skills{
    color: rgb(83, 189, 216);
  }
  .photo{
    border-radius: 10%;
  }
  .button{
    color: rgb(7, 2, 10);
    background-color: rgb(90, 191, 231);
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
  }
  #page-head{
    padding: 6em,30px;
    text-align: center;
  }
